annotated-types==0.7.0
asgiref==3.8.1
attrs==24.2.0
blask==0.2.3
blinker==1.8.2
cachetools==5.5.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
distlib==0.3.9
django==5.1.2
django-ninja==1.3.0
django-stubs==5.1.0
django-stubs-ext==5.1.0
djangorestframework==3.15.2
drf-spectacular==0.27.2
filelock==3.16.1
flask==3.0.3
inflection==0.5.1
itsdangerous==2.2.0
jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown==3.7
markupsafe==3.0.1
mypy==1.11.2
mypy-extensions==1.0.0
-e file:///C:/01_react_django/ninja
packaging==24.1
platformdirs==4.3.6
pluggy==1.5.0
pydantic==2.9.2
pydantic-core==2.23.4
pygments==2.18.0
pyproject-api==1.8.0
pyyaml==6.0.2
referencing==0.35.1
rpds-py==0.20.0
ruff==0.6.9
sqlparse==0.5.1
tox==4.21.2
tox-uv==1.15.0
types-pyyaml==6.0.12.20240917
typing-extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
uv==0.4.20
virtualenv==20.26.6
werkzeug==3.0.4
